# Visual Studio / IDE
.vs/
.vscode/

*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.pubxml.user

# Design-time & cache
**/.dtbcache.v2
**/*.vsidx
**/FileContentIndex/

# .NET build outputs
bin/
obj/

*.cache

# Publish folders
Publish/
Publish-Net/
publish/

# Databases & local data
*.sqlite
*.sqlite-shm
*.sqlite-wal
CodeChunks.db

# Misc / temp
EndpointInfo
17.13.444.19527
